body{
	background-image: url(https://github.com/studybuddy2022/studybuddy2022.github.io/blob/main/spill.gif);
	background-size: cover;
	width: 100vw;
	height: 90vh;
}

div {
	width: 48%;
	padding-top: 8%;
	text-align: center;
	align-items: center;
	float: right;
	display: inline-block;
}
